<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Gamerepo Form View</h1>
        <p class="lead">enter description text here</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Form:</h1>
        </div>
    </div>

    <!-- Gamerepo List View -->
    <div class="jumbotron text-center"> <h1>View Repo: {{repo.gamename}}</h1> </div>
	
    <div class="col-lg-6">	
		<p><strong>Filter:</strong> {{tableParams.filter()|json}}
		<a class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="unclaimedkeys.csv">Export to CSV</a>
        <table ng-table="unclaimedTable" show-filter="true" class="table">
			<tr ng-repeat="repo in $data">
			  <td data-title="'Game Title'" filter="{ 'gamename': 'text' }">
			  {{repo.gamename}}
			  </td>
			  <td data-title="'Game Key'" filter="{ 'gamekeys': 'text' }">
			  {{repo.gamekeys}}
			  </td>
			  <td data-title="'Available'">
			  {{repo.keystatus}}
			  </td>
			</tr>
      </table>
	</div>
	
	
    <div class="col-lg-6">	
		<p><strong>Filter:</strong> {{tableParams.filter()|json}}
		<a class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="claimedkeys.csv">Export to CSV</a>
		<table ng-table="claimedTable" show-filter="true" class="table">
			<tr ng-repeat="repo in $data">
			  <td data-title="'Game Title'" filter="{ 'gamename': 'text' }">
			  {{repo.gamename}}
			  </td>
			  <td data-title="'Game Key'" filter="{ 'gamekeys': 'text' }">
			  {{repo.gamekeys}}
			  </td>
			  <td data-title="'Claimed'">
			  {{repo.keystatus}}
			  </td>
			</tr>
    </table>

</div>

<footer class="footer">
<div class="container">
  <p><a href="http://innobyt.com">Innobyt Redemption Web Application</a></p>
</div>
</footer>